arcane_power: 2
utilisation: 3

processes:
  - Blanch
  - Dry
  - Pickle
  - Crush
  # - Ferment
  # - Infuse

ingredients:
  Pluteus: 1
  Thyme: 1
  Sage: 1
  # Anise: 1
  # Catnip: 1
  # Deadmans: 1
  # Deathcap: 1
  # Elven: 1
  # Flyagaric: 1
  # Lupine: 1
  # Mandrake: 1
  # Stinkhorn: 1
  # Wizards: 1
  # Wormwood: 1
  # Nightshade: 1
  # Asporeus: 1

potions: []

alchemists:
  FungiConnoisseur: 0
  Herbalist: 0
  Optimiser: 0
  Acclaimed: 0
  # Enchanter: 0

branding:
  Bulk: 0
  Health: 0
  Sourcery: 0
  Provisions: 0

market:
  Vitality: [InDemand]
  Sleep: [InDemand]
  Summoning: [InDemand]
  Monster: [InDemand]
  Speed: [HighDemand]
  Slow: [InDemand]
  Mana: [HighDemand]
  Warding: [InDemand]
  Strength: [InDemand]
  Weakness: [InDemand]
  Necromancy: [InDemand]
  Skeleton: [InDemand]
  Speech: [InDemand]
  Silence: [InDemand]
  Conjuring: [InDemand]
  Exorcism: [HighDemand]
